*.zip
.DS_Store
.env.local
.vercel
assets/images/Day1/
assets/images/Day2/
assets/images/gallery/
assets/images/services/video.mp4
assets/pdf/naac/
assets/pdf/Feedback System.pdf
assets/images/banner/*.pdf
Vaagdevi pharmacy college/
