*.zip
.DS_Store
.env.local
.vercel
assets/images/Day1/
assets/images/Day2/
assets/images/gallery/*.JPG
assets/images/gallery/*.jpg
assets/images/services/video.mp4
assets/pdf/naac/
assets/images/banner/*.pdf
Vaagdevi pharmacy college/

